@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";

/* Light Theme */
:root {
  --bg: #ffffff;
  --text: #000000;
  --subtext: #0000007e;
  --primary: #16476A;
  --secondary: #132440;
  --highlight: #BF092F;
  --border: #cfcece80;
}

/* Dark Theme */ 
.dark {
  --bg: #12171a;
  --text: #ffffff;
  --subtext: #ffffff80;
  --primary: #0F4C75;
  --secondary: #3282B8;
  --highlight: #BBE1FA;
}

/* fonts */
.font-mon {
  font-family: "Robot Slab", sans-serif;
}

/* pre styled components  */
.shell{
  @apply w-svw;
}

.core{
  @apply max-w-400 mx-auto px-4;
}

