@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import "tailwindcss";

/* Light Theme */
:root {
  --bg: #fafafa;
  --surface: #ffffff;

  --text: #1f2937;
  --text-deep: #111827;
  --subtext: #6b7280;

  /* Brand */
  --primary: #ea580c;
  --secondary: #fb923c;
  --highlight: #ffedd5;

  --border: #e5e7eb;
  --border-button: #d1d5db;

  --slider: #f3f4f6;
}

/* Dark Theme */
.dark {
  --bg: #121212;
  --surface: #1b1b1b;

  --text: #f3f4f6;
  --text-deep: #ffffff;
  --subtext: #a1a1aa;

  /* Same brand */
  --primary: #ea580c;
  --secondary: #fb923c;
  --highlight: #ffedd5;

  --border: #2f2f2f;
  --border-button: #444444;

  --slider: #242424;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none m-0;
  }
  input[type="number"] {
    @apply [appearance:textfield];
  }
}

/* html{
  font-size: 90%;
} */

/* fonts */
.font-heading {
  font-family: "Robot Slab", sans-serif;
}

h2 {
  font-family: "Robot Slab", sans-serif;
}

/* pre styled components  */
.shell {
  @apply w-svw;
}

.core {
  @apply max-w-340 mx-auto px-4;
}

.button-primary {
  @apply text-sm rounded-sm flex bg-(--primary) duration-200 text-white font-medium overflow-hidden hover:brightness-80 active:scale-90 cursor-pointer;
}

.button-secondary {
  @apply text-sm rounded-sm flex font-medium overflow-hidden duration-200 border border-(--border-button) bg-(--bg) hover:bg-(--primary) hover:text-white hover:border-(--primary) active:scale-90 cursor-pointer;
}

.button-rounded {
  @apply flex justify-center  items-center rounded-full hover:text-white hover:bg-(--primary) duration-200 active:scale-90 cursor-pointer;
}

.dimmed-text {
  @apply text-sm text-(--subtext);
}

.input {
  @apply border border-(--border) bg-(--bg) text-sm p-3 rounded-sm outline-none duration-200 focus:border-(--primary);
}
